.homeContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 58px);
}

.addNoteContainer{
    margin: 2rem;
    background: rgb(247, 245, 245);
    border-radius: 15px;
    width: 500px;
}

.noteNav{
    padding: 1rem;
    color: rgb(210, 210, 210);
    font-weight: 500;
    font-size: 20px;
    background: #272727;
    
}

.notesMain {
    padding: 1rem;
    padding-top: 2rem;;
    max-width: 500px;
}
.addNote {
    border: 3px dashed black;
    padding: 2.5rem;
    text-align: center;
    background: transparent;
    transition: 1s;
}

.addNote:hover {
    background: rgb(218, 215, 215);
    cursor: pointer;
}

.myNotesTitle{
    margin: 2rem 0 0 0;
    border-bottom: 2px solid black;
    padding-bottom: 5px;
    max-width: max-content;
}

.notesContainer{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.notesLowerContainer{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.filterContainer{
    display: flex;
    justify-content: space-between;
}

.searchBar{
    height: 28px;
    border-radius: 5px;
}

.pagesContainer {
    padding: 1rem;
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.pages {
    padding: 0.5rem 0.8rem;
    background: var(--primary-color);
    color: white;
    border: 1px solid white;
    transition: 0.4s;
}

.pages:hover {
    cursor: pointer;
    background: none;
    color: var(--primary-color);
    border: 1px solid var(--primary-color)
}

.pageSelected {
    background: none;
    color: var(--primary-color);
    border: 1px solid var(--primary-color)
}